{%extends "index.html" %}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
	
        
        <link rel="stylesheet" href="{% static 'fonts/linearicons/style.css' %}">
		
		<!-- STYLE CSS -->
		
        <link rel="stylesheet" href="{% static 'css/style1.css' %}">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<img src="{% static 'images/image-1.png' %}" alt="" class="image-1">
				<form method="post">
					{%csrf_token%}
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" name="uname" placeholder="Username" required/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="text" class="form-control" name="phone" placeholder="Phone Number" required/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" name="email" placeholder="Mail" required/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="password" placeholder="Password" required/>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="cnfpassword" placeholder="Confirm Password">
					</div>
					<button type="submit">
						<span>Register</span>
					</button>
				</form>
                
				<img src="{% static 'images/image-2.png' %}" alt="" class="image-2">
			</div>
			
		</div>
		
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/main1.js' %}"></script>
	{%endblock%}
	</body>
</html>